{% include 'base.html.twig' %}
<style>
        a.x-admin-backlog-body{
            text-align: center;
        }
    </style>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">

                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">

                                <li class="layui-col-md4 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章数</h3>
                                        <p>
                                            <cite>666</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md4 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>留言数</h3>
                                        <p>
                                            <cite>666</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md4 layui-col-xs6 ">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>全部访问</h3>
                                        <p>
                                            <cite>666</cite></p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">近30天浏览量</div>
                        <div class="layui-card-body">
                            <div id="main0" style="width: 100%;height:400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">开发团队</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>版权所有</th>
                                        <td>趣深网络科研部
                                            <a href="http://www.baidu.com/" target="_blank">访问官网</a></td>
                                    </tr>
                                    <tr>
                                        <th>开发者</th>
                                        <td>闫汝龙(1347042558@qq.com)</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <style id="welcome_style"></style>
                <div class="layui-col-md12">
            </div>
        </div>
        </div>
    </body>
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
    var myChart = echarts.init(document.getElementById('main0'));
    var option = {
        //提示框组件
        tooltip:{
            //坐标轴触发，主要用于柱状图，折线图等
            trigger:'axis'
        },
        //图例
        legend:{
            data:['销量']
        },
        //横轴
        xAxis:{
            data:["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        //纵轴
        yAxis:{},
        //系列列表。每个系列通过type决定自己的图表类型
        series:[{
            name:'销量',
            //折线图
            type:'line',
            data:[5, 20, 36, 10, 10, 20]
        }]
    };
    myChart.setOption(option);
</script>
</html>